@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --bg-secondary-dark: #212121;
  --bg-primary-dark: #181818;
  --text-primary-dark: #fff;
  --text-secondary-dark: #9caaaa;
}


body {
  margin: 0;
  padding: 0;
  overflow-y: auto;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-primary-dark);
  color: var(--text-primary-dark);
}

.avatar-small {
  width: 2.5rem;
  height: 2.5rem;
}

.gap-1 {
  gap: 0.2rem;
}

.pointer {
  cursor: pointer;
}

.w-full {
  width: 100%;
}

.items-start {
  align-items: flex-start;
}

.border-top {
  border-top: var(--fu-gray-500) solid 1px;
}

.border-bottom {
  border-bottom: var(--fu-gray-500) solid 1px;
}

.transparent {
  background-color: transparent;
}

.border-0 {
  border: 0;
}

select {
  background-color: var(--bg-secondary-dark);
  color: white;
  padding: 12px;
  /* width: 250px; */
  border: none;
  font-size: 1rem;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: transparent 1px solid;
  padding: 0.2rem;
}

select option {
  background-color: var(--bg-secondary-dark);
}

.h-scroll::-webkit-scrollbar {
  background-color: transparent;
  height: 8px;
}

.h-scroll::-webkit-scrollbar-thumb {
  background-color: var(--text-secondary-dark);
  border-radius: 10px;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 0rem;
  right: 0;
  max-width: 15rem;
  width: max-content;
  padding: 0.5rem;
  gap: 0.5rem;
  z-index: 10;
  background-color: var(--bg-secondary-dark);
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.bg-primary {
  background-color: var(--bg-primary-dark);
}

.bg-secondary {
  background-color: var(--bg-secondary-dark);
}

.input-playlist {
  color: white;
  padding: 0.1rem 0.5rem;
  border: none;
  outline: transparent;
}

.input-playlist::placeholder {
  color: white;
  border-radius: 0.5rem;
}

.signup-main {
  height: 100vh;
}

.disable {
  cursor: not-allowed;
  background-color: #e7e9eb;
}

.signup-container {
  width: 100%;
  max-width: 25rem;
}

.login-container {
  width: 100%;
  max-width: 25rem;
}

.btn-login {
  width: 100%;
}

.input {
  background-color: var(--bg-secondary-dark);
  color: #fff;
  border: 2px solid transparent;
}

.input:focus,
.text-area:focus {
  outline: 2px solid transparent;
  color: var(--fu-gray-100);
  border: 1px solid transparent;
}

textarea {
  border: none;
  color: #fff;
}

textarea:focus {
  outline: 1px solid var(--text-secondary-dark);
}

.profile {
  height: calc(100vh - 4rem);
}

.profile section{
  max-width: 20rem;
  width: 100%;
}

.profile-badge {
  width: fit-content;
}
.btn-edit {
  position: absolute;
  bottom: 0.5rem;
  right: 0rem;
  padding: 0.1rem 0.2rem;
  border-radius: 0.2rem;
}

.justify-end{
  justify-content: flex-end;
}

.items-end{
  align-items: flex-end;
}